
body > header {
  height: 400px; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #080024; 
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png"); 
}

header img {
  width: 200px; 
  height: 200px; 
  margin-bottom: -30px; 
  margin-top: 35px; 
}

header h2 {
  color: #ffffff; 
  font-size: 38px;
  font-weight: 300;
}

.bold-first-name {
  font-weight: bold;
}
