nav {
  height: 120px;
  width: 100%;
  background-color: #3558cb;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 24px;
  z-index: 1;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 38px;
  display: flex;
  align-items: center;
}

.icon-container {
  margin-left: 80px;
  position: relative;
  bottom: 0;
  animation: fadeInOut 2s infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
nav .fa-solid.fa-angles-down {
  font-size: 1.5rem;
  opacity: 0.7;
}
.write-tweet > * {
  flex: 1;
  margin-bottom: 8px;
  margin-top: -0px;
  margin-right: 1.5em;
}

header {
  padding-top: 120px;
  text-align: center;
}

header img {
  width: 100px;
}

.mySignature {
  color: black;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 5px;
}

.fa-solid.fa-crow {
  padding-left: 1.5em;
  font-size: 24px;
  margin-right: 4px;
  animation: headshake 5s infinite;
}

@keyframes headshake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
