/* Styling the navigation bar */
nav {
  height: 75px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 1.5em;
  z-index: 1;
}

/* Styling the logo within the navigation bar */
.logo {
  font-family: "Bungee", sans-serif;
  font-size: 38px;
  display: flex;
  align-items: center;
}

/* Styling the container for the icons in the navigation bar */
.icon-container {
  margin-left: 50px;
  position: relative;
  bottom: 0;
  padding-left: 50px;
}

/* Styling the elements within the write-tweet class */
.write-tweet > * {
  flex: 1;
  margin-bottom: 8px;
  margin-top: -0px;
  margin-right: 1.5em;
}

/* Styling the crow icon within the navigation bar */
.fa-solid.fa-crow {
  padding-left: 1.5em;
  font-size: 24px;
  margin-right: 4px;
  animation: headshake 2s infinite;
}

/* Defining the headshake animation */
@keyframes headshake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

/* Styling the mySignature class */
.mySignature {
  color: black;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 5px;
}

/* Styling the compose button */
.compose-button {
  padding: -5px 20px;
  background-color: #4056a1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: default;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

/* Styling the span within the compose button */
.compose-button span {
  font-family: "Source Sans 3", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Adding a hover effect to the compose button */
.compose-button:hover {
  background-color: #4056a1;
  color: #ffffff;
}

/* Styling the move-right class */
.move-right {
  margin-top: 5px;
}

/* Adjustments for mobile screens */
@media only screen and (max-width: 768px) {
  /* Adjusting the icon container */
  .icon-container {
    margin-left: 50px;
  }

  /* Adjusting the write-tweet class */
  .write-tweet {
    flex-direction: column;
    align-items: center;
  }

  /* Adjusting the compose button */
  .compose-button {
    margin-top: 10px;
  }
}

/* Adjustments for extra small devices */
@media only screen and (max-width: 768px) {
  /* Adjusting the navigation bar */
  .nav {
    height: 70px;
    padding: 0 1em;
  }

  /* Adjusting the logo */
  .logo {
    font-size: 28px;
  }

  /* Adjusting the icon container */
  .icon-container {
    margin-left: 20px;
  }

  /* Adjusting the elements within the write-tweet class */
  .write-tweet > * {
    margin-bottom: 5px;
    margin-top: 0;
    margin-right: 1em;
  }

  /* Adjusting the compose button */
  .compose-button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
