/* Styling the main container of the page */
main.container {
  width: 80%;
  margin: 0 auto;
  background-color: inherit;
}

/* Styling the new-tweet section */
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 17px 10px 18px;
  background-color: transparent;
  font-family: "Source Sans 3", sans-serif;
  padding: 10px;
}

/* Styling the header within new-tweet section */
.new-tweet h2 {
  font-size: 48px;
  margin-top: 3.2px;
}

/* Styling the button */
button {
  display: flex;
  align-items: center;
  font-family: "Bungee", sans-serif;
  background-color: #1236ac;
  color: #ffffff;
  padding-left: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Adding a hover effect to the button */
button:hover {
  background-color: #ffffff;
  color: #1236ac;
}

/* Styling the form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Styling the text area within the form */
.tweet-text {
  border: none;
  border-bottom: 1px solid #545149;
  background-color: transparent;
  resize: none;
  font-weight: bold;
  line-height: 19.5px;
  font-family: "Source Sans 3", sans-serif;
  height: 70px;
  border-bottom: 3px solid #000000;
  padding-left: 4px;
}

/* Styling the placeholder text in the text area */
.tweet-text::placeholder {
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 50px;
}

/* Styling the section under the text input */
.under-tweet-input {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 19.5px;
  align-items: baseline;
  padding-top: 5px;
}

/* Styling the tweet counter */
.counter {
  font-family: "Bungee", sans-serif;
  float: right;
  color: #002aff;
}

/* Styling the tweet icon */
.tweet-icon {
  color: #002aff;
}

/* Styling the caret icon */
.fa-caret-right {
  color: #c2da3a;
  padding-right: 2px;
}

/* Adding an animation to the fa-fade class */
.fa-fade {
  animation: fadeInOut 2s infinite;
}

/* Styling the counter when it's invalid */
.counter.invalid {
  color: red;
}

/* Defining the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Styling the error message */
#error-message {
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Styling the back-to-top button */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #4056a1;
  color: hsl(84, 73%, 51%);
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
}

/* Adding a hover effect to the back-to-top button */
.back-to-top:hover {
  background-color: hsl(84, 73%, 51%);
}
