main.container {
  width: 90%;
  margin: 0 auto; /* Center align the container */
  background-color: inherit; /* Same color as the body element */
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10px 24px;
  background-color: transparent;
  font-family: "Source Sans 3", sans-serif;
}

.new-tweet h2 {
  font-size: 48px;
  margin-top: 3.2px;
}

button {
  display: flex;
  align-items: center;
  font-family: "Bungee", sans-serif;
  background-color: #1236ac;
  color: #ffffff;
  padding-left: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ffffff; /* Original text color */
  color: #1236ac; /* Original background color */
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto; /* Center align the form from the sides */
  margin-right: auto; /* Center align the form from the sides */
}

.tweet-text {
  border: none;
  border-bottom: 1px solid #545149; /* Add a bottom border (line) */
  background-color: transparent;
  resize: none;
  font-weight: bold;
  line-height: 19.5px;
  font-family: "Source Sans 3", sans-serif;
  height: 70px;
  border-bottom: 3px solid #000000;
}

.tweet-text::placeholder {
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 50px;
}

.under-tweet-input {
  display: flex;
  justify-content: space-between; /* Align button on left and counter on right */
  margin-top: 6px;
  font-size: 19.5px;
  align-items: baseline;
  padding-top: 5px;
}

button {
  display: flex;
  align-items: center;
  font-family: "Bungee", sans-serif;
  background-color: #1236ac;
  color: #ffffff;
  padding-left: 8px;
}

.counter {
  font-family: "Bungee", sans-serif;
  float: right;
  color: #002aff;
}

.tweet-icon {
  color: #002aff;
}

.fa-caret-right {
  color: #c2da3a;
  padding-right: 2px;
}

.fa-fade {
  animation: fadeInOut 2s infinite;
}

.counter.invalid {
  color: red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
