.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  font-family: "Source Sans 3", sans-serif;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: transparent;
}

.tweet:hover {
  box-shadow: 5px 5px 10px #c8c8c8;
  transition: box-shadow 0.3s ease;
}

.tweet header {
  display: flex;
  align-items: center;
}

.tweet-avatar {
  width: 77px;
  height: 65px;
  margin-right: 10px;
  margin-top: 2px;
}

.tweet-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.tweet-info .handle {
  color: #002aff;
  font-weight: bold;
  margin-right: 20px; /* Push the handle to the right */
}

.tweet-info .user-name {
  margin-top: -10px;
  font-size: 22px;
  margin-right: auto;
  font-weight: bold; /* Push the user name to the left */
}

.tweet-content {
  padding: 10px;
  font-size: 20px; /* Adjust the font size of the content */
  border-bottom: 3px solid #000000;
}

.tweet-content strong {
  color: rgb(112, 112, 212);
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  font-size: 14px;
}

.tweet-footer .tweet-date {
  margin-left: 30px;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
}

.tweet-footer .tweet-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: 20px;
  font-size: 20px;
}

.tweet-icons i:hover {
  color: rgb(116, 112, 125);
}

.tweet-icons i.fa-flag:hover {
  color: blue;
}

.tweet-icons i.fa-retweet:hover {
  color: rgb(33, 255, 52);
}

.tweet-icons i.fa-heart:hover {
  color: red;
}

